:root{
    --header-color: #EAC926;
    --search-color:#666;
    --lupa-color: #ebebeb;
    --blue-menu-color: #1259c3;
    --green-color: #39b54a;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
    
}