header{
     background-color: var(--header-color) ;
     padding: 30px 20px 20px 20px;

}
header .logo-search{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    
    
}
 header .logo {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 45%;
    
        
}
 header .logo-search .busqueda{
     width: 45%;
     
    
} 
header .logo-search .busqueda input{
    width: 80%;
}

header .icono {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    
}


header nav .lista1 { 
    
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display:none;
       
}
header nav .lista2 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display:none;
    }
    header .burger-menu{
        background-color: var(--blue-menu-color);
        color: white;
        border: solid 1px var(--green-color);
        border-radius: 5px;
        padding: 1% 0px;
        margin: 0 45%;
        text-align: center;
    }

    