header{
     background-color: var(--header-color) ;

}
header .logo-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 header .logo  {
    width: 47%;
    margin: 13px 2px 0px 15px;
}
header .busqueda{
    width: 47%;
    margin-top: 28px;
}
header .logo-search .busqueda input {
    width: 80%;
}

header .busqueda button i {
    background-color: white;
}


header .icono {
    font-size: 12px;
    text-align: center;
    padding-top: 4%;
    
}
header nav .lista1 { 
    padding: 5% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display:none;
       
}
header nav .lista2 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom:5% ;
    display:none;
    }
    header .burger-menu{
        background-color: var(--blue-menu-color);
        color: white;
        border: solid 1px var(--green-color);
        border-radius: 5px;
        padding: 1% 0px;
        margin: 0 45%;
        text-align: center;
    }

    
