header{
     background-color: var(--header-color) ;

}
 header div img {
    margin:0% 43% 0 3%;
    padding: 6% 2% 4% 5%;
    display: inline-block;
}
header .busqueda{
    text-align: left;
    background-color: white;
    color: var(--search-color);
    border: solid 1px var(--search-color);
    margin: 0% 31% 1% 4.3%;
    border-radius: 3px;
    
}

header .lupa{
    background-color: var(--lupa-color);
    border: solid 1px var(--search-color);
    border-radius: 3px;
    margin-left: 4.3%;
    padding: 0% 0.4%;
    
}
header .icono {
    font-size: 12px;
    text-align: center;
    padding-top: 4%;
    
}
header nav .lista1 { 
    padding: 5% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
       
}
header nav .lista2 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom:5% ;
    }
    header .burger-menu{
        background-color: var(--blue-menu-color);
        color: white;
        border: solid 1px var(--green-color);
        border-radius: 5px;
        padding: 1% 0px;
        margin: 0 45%;
        text-align: center;
    }

    