main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
} 
main .banner img {
   width:100%
}
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section h4 {
    width: 100%;
}




main section article div img{
    width: 90%;
    margin: 0px 5%;
    
}

main section article .seccion {
    font-size: 16px;
    background-color: white;
    width: 90%;
    padding: 15px;
    border-right: solid 1px var(--lupa-color);
    margin: 0px 5%;
    position: relative;
}

main section article .seccion i {
    border:solid 1px var(--green-color) ;
    border-radius: 50%;
    color: var(--green-color);
    padding: 5px;
    font-size: 16px;
    width: 30px;
    background-color: #fff;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all ease .3s;
}
main section article:hover .seccion i{
box-shadow: o o 5px var(--green-color);
transform: rotate(360deg);
}

main section article .precio-discount {
    display: flex;
}
main section article .precio-discount .precios{
    flex-grow: 0.3;
    font-size: 18px;
}


main section article .discount {
    color: var(--green-color);
    font-size: 16px;
    flex-grow: 0.7;
    text-transform: uppercase;
}

main section article .seccion .articulo {
    height: 0;
    transition: all ease .3s;
    overflow: hidden;
    color: var(--search-color);
    
}
main section article:hover .seccion .articulo {
height: 20px;
margin-top: 10px; 
}

main section article {
    margin: 10px 0px;
   background-color: white;
   transition: all ease .3s;
}
main section article:hover{
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

main section .titulo {
    color: var(--search-color);
    margin-left: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}



/* TABLET */
@media (min-width: 768px) {
  
  
        header .burger-menu{
            display:none;
        }

            header .logo-search{
                justify-content: space-between;
            }
            header .logo  {
                width: 32%;
            }
            header .busqueda{
                width: 32%;
            }
            header .logo-search .icono{
                width: 32%;
            }
            header nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            header nav {
                display: flex;
                margin-top: 10px;
                
            }header nav ul li {
                margin:0 10px;
            }

            header nav .lista1{
                display: flex;
                padding: 0px;
                font-size: 12px;
            }
             header nav .lista2{
                 display: flex;
                 padding: 0px;
                 font-size: 12px;
             }
    
    main section article .articulo {
    
    display: inline-block;

}
main section article {
    width: 45%;
} }


/* DESKTOP */
@media (min-width: 1024px) {
 
    header nav .lista1{
        display: flex;
        padding: 0px;
        font-size: 12px;
    }
     header nav .lista2{
         display: flex;
         padding: 0px;
         font-size: 12px;
     }
        header .burger-menu{
            display:none;
        }
        main section article .articulo {
    
            display: inline-block; 
        }
        main section article{
            width: 23%;
            justify-content: space-between;
        }
        }