main {
    font-family: 'Roboto', sans-serif;
    margin:0% 5%
} 
main .banner {
    display: none
}
main section .titulo{
    font-size: 24px;
    padding-top: 20px;

}

main section article p, h3 {
    font-size: 16px;
    background-color: white;
}


